---
---
<!doctype html>
<html lang="en">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="/style.css">
<link rel="alternate icon" type="image/png" href="/favicon.png">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
{% feed_meta %}
<meta name="description" content="Recent blog posts from Christopher Cooper.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<h1 id="top" class="center-width wide">{{ site.title }}</h1>
<div id="main-container" class="center-width wide">
	<!-- <p>{{ site.description }}</p> -->
	{% comment %}
	{% include sm-links.html %}
	{% endcomment %}
	<a class="display-link" href="/">about me</a>
	<span>/</span>
	<a class="display-link" rel="me" href="https://notes.cg505.com">notes</a>
	<h2>all posts</h2>
	{% for post in site.posts %}
		<p class="post-info">
			<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
			<span>{{ post.date | date: '%F' }}</span>
		</p>
		{% if post.summary %}
			<p class="post-summary">{{ post.summary }}</p>
		{% endif %}
	{% endfor %}

	<p style="margin-top: 35px"><a href="/feed.xml">atom feed</a></p>

	<p>I also frequently post shorter <a href="https://notes.cg505.com">notes</a>.</p>
</div>
</html>
