.list-title {
	margin-bottom: 5px;
}

.post-info {
	font-family: 'Anonymous Pro',monospace;
	color: #767676;
	font-size: 16pt;
}

.post-info.small {
	font-size: 12pt;
	margin: 0;
}

.list-summary {
	font-size: 16pt;
	margin-top: 10px;
}

.signoff {
	text-align: right;
	font-style: italic;
	color: #00791b;
}

#blog-banner {
	background-color: #00791b;
	width: 100%;
	text-decoration: none;
	display: block;
}

.container {
	max-width: 66%;
	margin: auto;
	padding: 10px 20px;
}

#blog-banner .container {
	padding-top: 20px;
}

#blog-banner h1, #blog-banner h2 {
	margin: 0;
	color: #fff;
}

@media (max-width: 900px) {
	.container {
		max-width: 100%;
	}
}
