---
---
<!doctype html>

<title>cg505 | christopher cooper</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/index.css">
<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="/cg_avatar_230.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<div id="stacking-context">
	<div id="cg505">
		<div class="container">
			<h1>cg505</h1>
		</div>
	</div>
	<div id="concealer">
		<div class="container">
			<h1>cg505</h1>
		</div>
	</div>
	<div id="floating-bar">
		<div class="container">
			<h1>cg505</h1>
			<h2>christopher cooper</h2>
		</div>
	</div>
	<div id="top-bar">
		<div class="container">
			<h1>cg505</h1>
			<h2>christopher cooper</h2>
		</div>
	</div>
	<div id="floating-bar-ext">
		<div class="container">
			<h1>cg505</h1>
		</div>
	</div>
</div>
<div id="main-container">
	<div id="header">
		<p id="mobile-nav">
			<a href="#code" class="int-link">code</a>
			<a href="#music" class="int-link">music</a>
			<a href="#capitalism" class="int-link">hire me</a>
			<a href="#contact" class="int-link">contact</a>
		</p>
		<img src="saxcrop.jpg" alt="I play saxophone" />
		<p id="tagline">
			Software engineer and musician. 22.
		</p>
	</div>


	<h3>
		about me
	</h3>

	<p>
		I'm a senior at UC Berkeley. I love to <a href="#code" class="int-link">code</a> and make <a href="#music" class="int-link">music</a>. I <a href="#capitalism" class="int-link">work</a> as a software engineer. Want to <a href="#contact" class="int-link">get in touch</a>?
	</p>

	{% include sm-links.html resume=true %}


	<h3>
		blog
	</h3>
	{% for post in site.posts limit: 3 %}
		<p class="home-post-title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</p>
		<p class="home-post-summary">
			{{ post.date | date: '%F' }}
			{%- if post.summary -%}
				: {{ post.summary }}
			{%- endif -%}
		</p>
	{% endfor %}
	<p><a href="/blog">More posts...</a></p>


	<div id="code" class="placeholder"></div>
	<h3>
		code
	</h3>

	<p>
		Berkeley's <a href="https://www.ocf.berkeley.edu/">Open Computing Facility</a> is currently my biggest time-sink. As a <a href="https://www.ocf.berkeley.edu/docs/about/officers/">General Manager</a>, I lead the organization of 100+ volunteers and 8 paid staff. Before that, I served as a Deputy Site Manager, sharing responsibility for the computer lab of 29 computers and the array of servers which provide webhosting, high performance computing, and general server access to the Berkeley campus. (Kubernetes!) Check out some of the <a href="https://www.ocf.berkeley.edu/docs/services/">services</a> that the OCF provides.
	</p>

	<p>
		I helped create <a href="https://github.com/kotct/dot">kotct/dot</a>, a tool for creating universally-available personal configurations, supporting GNU Emacs. This is my longest-running open project. You can find my own dot-compatible emacs config at <a href="https://github.com/cg505/.emacs">cg505/.emacs</a>.
	</p>

	<p>
		I also have been a part of <a href="https://pcs.berkeley.edu">Political Computer Science @ Berkeley</a>. I led the technical development of <a href="https://pcs.berkeley.edu/darp">DARP</a>, a project to analyse digital access and privacy rights around the world.
	</p>

	<p>
		I've also worked at a smattering of jobs, as a software engineer and otherwise.
	</p>

	<p>
		<a href="https://kelda.io/">Kelda</a> is a platform making it easier for developers to work in Kubernetes. As an engineer in the early days of the startup, I wrote a lot of Go code, made architectural decisions, and became intimately familiar with the inner workings of Kubernetes.
	</p>

	<p>
		I spent the summer and fall of 2019 working at <a href="https://brave.com/">Brave</a>. I worked on adding a cryptocurrency wallet manager to the browser, and also contributed to the core browser. You can see <a href="https://github.com/pulls?q=is%3Apr+author%3Acg505+repo%3Abrave%2Fbrave-core+repo%3Abrave%2Fbrave-ui+repo%3Abrave%2Fethereum-remote-client">all my pull requets on GitHub</a>.
	</p>

	<p>
		At <a href="https://www.angieslist.com">Angie's List</a>, I converted a price comparison tool from an outdated web stack to use Angie's List's new <a href="http://thunderball.io/">Thunderball</a> stack (and along the way made some contributions to Thunderball itself). I also reworked some shared microservice Scala libraries for request processing.
	</p>

	<p>
		I worked for two summers at <a href="https://purduestudio.org/">Studio by Purdue</a>. During Summer 2016, I brought <a href="https://www.academicforecast.org/">Forecast</a> to life, contributing code from top (React/Redux) to bottom (ASP.NET). As the fall semester began, we deployed this app in time for my freshman class to use it during orientation. For Summer 2018, I focused on <a href="https://openpassport.org">Passport</a>, which is used widely at Purdue, as well as other institutions such as University of Arizona.
	</p>

	<p>
		Interested more in my work? Check my <a href="/resume.pdf">resume</a>. Impressed? <a href="#capitalism" class="int-link">Hire me!</a>
	</p>


	<div id="music" class="placeholder"></div>
	<h3>
		music
	</h3>
	<p>
		I like jazz. In fall 2018, I played alto saxophone in a combo at <a href="https://ucjazz.berkeley.edu/">UC Jazz</a> with fellow Cal students. At Purdue I played alto sax in the <a href="https://www.purdue.edu/bands/ensembles/jazz/">Purdue Jazz Band</a>. Check out our rendition of <a href="https://www.youtube.com/watch?v=nJ6eGiIaIgM">"Angel Eyes"</a> featuring yours truly.
	</p>

	<p>
		In high school I played tenor saxophone in a jazz combo called <a href="https://facebook.com/rednotejazz">Red Note</a>. Here's some videos of me playing <a href="https://www.youtube.com/watch?v=XUGaeLRQANM">"The Christmas Song"</a> and <a href="https://www.youtube.com/watch?v=FcqE-VlbuTc">"Hotline Bling"</a> with them.
	</p>

	<p>
		I also sometimes find time for amateur composition and production. You can find some tunez on my <a href="https://soundcloud.com/cg505">soundcloud</a>.
	</p>

	<p>
		I listen to a lot of music, not just jazz. From Mitski to Tennyson to Injury Reserve, I love to talk to other people who are always trying to discover that next album that they love. See my listening history on <a href="https://last.fm/user/cg505">last.fm</a>, or try one of my <a href="https://open.spotify.com/user/cg505">spotify playlists</a>.
	</p>


	<div id="capitalism" class="placeholder"></div>
	<h3>
		give me job
	</h3>
	<p>
		Interested in hiring me? Nice! I'm looking to expand my <a href="#code" class="int-link">software engineering experience</a>, which currently includes employers such as Brave, Angie's List, and Purdue University.
	</p>
	<p>
		Check out my <a href="/resume.pdf">resume</a>, or hit up my <a href="https://linkedin.com/in/cg505">linkedin</a>. Still here? Send me an email at <a href="mailto:cooperc@berkeley.edu">cooperc@berkeley.edu</a>.
	</p>

	<div id="contact" class="placeholder"></div>
	<h3>
		contact me
	</h3>
	<p>
		If you need to contact me for some reason, shoot me an email at my personal address, <a href="mailto:christopher.c.cooper@gmail.com">christopher.c.cooper@gmail.com</a>.
	</p>
	<p>
		Alternatively, you can try to reach me on <a rel="me" href="https://twitter.com/cg505_">twitter</a>, <a rel="me" href="https://mastodon.ocf.berkeley.edu/@cg505">the fediverse</a>, <a rel="me" href="https://linkedin.com/in/cg505">linkedin</a>, or by just piping the contents of your message to <a href="https://en.wikipedia.org/wiki/Null_device">/dev/null</a>. But, email is probably your best bet.
	</p>

	<p id="copyright">© Christopher Cooper 2020</p>
</div>
