h1,h2,h3 {
	margin: 0px;
}

h1 {
	margin-right: 15px;
}

#cg505 h1, #top-bar h2, #floating-bar h2 {
	animation: onload-top 2.2s ease-in;
}

@media (prefers-reduced-motion) {
	#cg505 h1, #top-bar h2, #floating-bar h2 {
		animation: none;
	}
}

#stacking-context {
	top: 0px;
	position: relative;
	z-index: 1;
}

#stacking-context > div {
	color: #ffffff;
	margin-top: 0px;
	top: 0px;
	width: 100%;
}

#stacking-context .container {
	max-width: min(66%, 800px);
	margin: auto;
	overflow: hidden;
	white-space: nowrap;
	padding: 20px 20px 10px 20px;
}

#stacking-context > #cg505 {
	position: fixed;
	z-index: 5;
	/* background-color: #000000; */
	height: 84px;
}

#stacking-context > #concealer {
	color: rgba(0, 0, 0, 0);
	position: relative;
	background-color: #00791b;
	z-index: 4;
	height: 84px;
}

#concealer > .container {
	padding-bottom: 0px;
}

#stacking-context > #floating-bar {
	position: fixed;
	z-index: 3;
	background-color: #00791b;
	height: 84px;
}

#floating-bar > .container {
	padding-bottom: 0px;
}

#floating-bar h1, #floating-bar h2 {
	display: inline;
}

#floating-bar h1 {
	color: rgba(0, 0, 0, 0);
}

#stacking-context > #top-bar {
	position: relative;
	z-index: 2;
	margin-top: -84px;
	background-color: #00791b;
	height: 134px;
}

#top-bar h1 {
	color: rgba(0, 0, 0, 0);
	height: 64px;
}

#stacking-context > #floating-bar-ext {
	position: fixed;
	color: rgba(0, 0, 0, 0);
	background-color: #00791b;
	z-index: 1;
	height: 94px;
}

@keyframes onload-top {
	from {
		color: #00791b;
	}
	to {
		color: #ffffff;
	}
}

@keyframes onload-body {
	from {
		margin-top: -30px;
		opacity: 0;
	}
	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes onload-img {
	from {
		filter: blur(5px);
	}
	to {
		filter: none;
	}
}

h3 {
	padding-top: 30px;
}

#main-container {
	animation: onload-body 1s ease-out;
}

@media (prefers-reduced-motion) {
	#main-container {
		animation: none;
	}
}

#header #mobile-nav {
	text-align: justify;
	width: 100%;
	margin: 0px;
	display: none;
	line-height: 0;
}

#header #mobile-nav a {
	line-height: 100%;
	display: inline-block;
}

#header #mobile-nav:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#header img {
	margin-top: 10px;
	width: 100%;
	animation: onload-img 1.5s ease-out;
}

@media (prefers-reduced-motion) {
	#header img {
		animation: none;
	}
}

#header #tagline {
	position: absolute;
	left: 6%;
	bottom: 10px;
	max-width: 220px;
	width: 50%;
	color: #fff;
	font-size: 15pt;
	margin: 0px;
	text-shadow: #000 0px 0px 4px;
}

.placeholder {
	position:relative;
	top: -80px;
}

iframe#sc {
	max-width: 800px;
}

@media (max-width: 900px) {
	#stacking-context .container {
		max-width: 100%;
	}
}

@media (max-width: 400px) {
	#stacking-context > #top-bar {
		height: 123px;
	}
	#top-bar h2 {
		font-size: 18pt;
	}
}

@media (max-width: 550px) {
	#floating-bar h2 {
		font-size: 18pt;
	}
}

@media (max-width: 440px) {
	/* #floating-bar h1{
	   font-size: 25pt;
	   } */
	/* #cg505 h1, .floating-bar h2 {
	   display: block;
	   } */
	/* #floating-bar > #container {
	   padding-top: 15px;
	   } */

	/* #stacking-context > #top-bar {
	   z-index: 7;
	   }
	   #stacking-context > #floating-bar {
	   z-index: 6;
	   } */
	#floating-bar h1 {
		color: #ffffff;
		animation: onload-top 2.2s ease-in;
	}
	@media (prefers-reduced-motion) {
		#floating-bar h1 {
			animation: none;
		}
	}
	#floating-bar h1, #floating-bar h2 {
		display: block;
	}
	#floating-bar h1 {
		font-size: 25pt;
		height: 40px;
	}
	#floating-bar h2 {
		/* margin-top: x; */
	}
	#floating-bar > .container {
		padding-top: 15px;
	}
	#floating-bar-ext {
		/* display: none; */
	}
	#stacking-context > #cg505 {
		position: relative;
	}
	#stacking-context > #concealer {
		top: -84px;
	}
	#stacking-context > #top-bar {
		margin-top: -168px;
	}

	#header #mobile-nav {
		display: block;
	}
}

.home-post-title {
	margin-bottom: 3px;
}

.home-post-summary {
	margin-top: 0;
}
