h1,h2,h3 {
	font-family: 'Anonymous Pro',monospace;
	margin: 0;
}

h1 {
	font-size: 40pt;
}

h2 {
	font-size: 25pt;
}

h3 {
	padding-top: 30px;
	font-size:20pt;
	color: #00791b;
}

#top-bar {
	background-color: #00791b;
	color: #ffffff;
	margin-top: 0;
	padding: 30px 20px 15px 20px;
	position: fixed;
	top: 0px;
	width: 100%;
	animation: onload-top 3s ease-in;
}

@keyframes onload-body {
	from {
		margin-top: 140px;
		opacity: 0;
	}
	to {
		margin-top: 170px;
		opacity: 1;
	}
}

@keyframes onload-top {
	from {
        color: #00791b;
	}
	to {
        color: #ffffff;
	}
}


#main-container {
    margin: 170px 20px 200px 20px;
	animation: onload-body 1s ease-out;
}

body {
	margin:0;
    font-family: 'Open Sans',sans;
}

#tagline {
	/* font-weight: bold; */
	font-size: 15pt;
}

.placeholder {
	position:relative;
	/* display:none; */
	top: -133px;
}

a {
	color: inherit;
	font-weight: bold;
	font-family: 'Anonymous Pro',monospace;
}

iframe {
	max-width: 800px;
}

.sm-link {
	margin-right: 5px;
}

.int-link {
    text-decoration-color: rgba(0, 0, 0, 0);
	font-family: inherit;
	transition: text-decoration-color .5s;
    /* animation: link-hover 1s ease; */
}

.int-link:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
    /* animation: link-hover 1s ease; */
}

}
