h1,h2,h3 {
	font-family: 'Anonymous Pro',monospace;
}

h1 {
	font-size: 40pt;
}

h2 {
	font-size: 25pt;
}


h3 {
	font-size: 20pt;
	color: #00791b;
}

#main-container {
    padding: 15px 20px;
	max-width: 66%;
	margin: auto;
}

body {
	margin: 0px;
    padding-bottom: 185px;
    font-family: 'Open Sans',sans-serif;
}

#header {
	position: relative;
	margin-top: 0px;
	max-width: 600px;
}

a {
	color: inherit;
	font-weight: bold;
	font-family: 'Anonymous Pro',monospace;
}

.sm-links > a {
	margin-right: 8px;
}

.int-link {
    text-decoration-color: rgba(0, 0, 0, 0);
	font-family: inherit;
	transition: text-decoration-color .5s;
}

.int-link:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}

@media (max-width: 900px) {
	#main-container {
		max-width: 100%;
	}
}
