/* https://rsms.me/inter/download/ */
:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; */ /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

h1,h2,h3 {
	font-weight: inherit;
	font-variant-alternates: character-variant(simplified-u);
	text-align: initial;
}

h1 {
	font-size: calc(8em / 3);
	line-height: 0.8;
	text-wrap: balance;
	@supports not (font-variation-settings: normal) {
		font-family: InterDisplay, sans-serif;
	}
}

.home h2 {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.center-width {
	margin: auto;
	/*
	vw > 600 -> 400px
	vw = 600 -> 2/3 of vw
	600 > vw > 300 -> scale gradually to 100% at 300
	vw = 300 -> 100% of vw (technically at this point we are already in below case)
	vw < 300 -> leave 5px margin either side
	*/
	max-width: min(33.33% + 200px, 400px, 100% - 10px);
}

.center-width.wide {
	/*
	vw > 900 -> 600px
	vw = 900 -> 2/3 of vw
	900 > vw > 300 -> scale gradually to 100% at 300
	vw = 300 -> 100% of vw (technically at this point we are already in below case)
	vw < 300 -> leave 5px margin either side
	*/
	max-width: min(50% + 150px, 600px, 100% - 10px);
}

#main-container {
	border: 1px solid #000;
}

body {
	font-size: 93.75%;
	text-underline-offset: 4%;
	line-height: 1;
	margin: 0px;
	padding-bottom: 140px;
	font-weight: 370;
	text-align: justify;
	hyphens: auto;
	font-variant: discretionary-ligatures;
}

#top {
	padding-top: 20vh;
}

a {
	color: inherit;
}

a.display-link {
	font-size: larger;
}

.vid-container-container {
	max-width: 600px;
}

.vid-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0px;
	overflow: hidden;
}

.vid-container.slides {
	padding-bottom: calc(56.25% + 29px);
}

.vid-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* blog */
.post-info {
	margin-bottom: 0;
}

.post-title {
	font-size: larger;
}

.post-summary {
	margin-top: 0;
}

img {
	max-width: 100%;
}

/* no margin bottom of main container box */
#main-container > :first-child,
#main-container > :first-child > :first-child,
#main-container > :first-child > :first-child > :first-child,
#main-container > :first-child > :first-child > :first-child > :first-child {
	margin-top: 0;
}
#main-container > :last-child,
#main-container > :last-child > :last-child,
#main-container > :last-child > :last-child > :last-child,
#main-container > :last-child > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.home p {
	margin-top: 0.2em;
	margin-bottom: 0;
}
