<p class="sm-links">
	{% if page.url != "/" %}
		<a href="/">about me</a>
	{% endif %}
	{% if page.url != "/blog/" %}
		<a href="/blog/">blog</a>
	{% endif %}
	{% if include.resume %}
		<a href="/resume.pdf">resume</a>
	{% endif %}
	<a rel="me" href="https://github.com/cg505">github</a>
	<a rel="me" href="https://linkedin.com/in/cg505">linkedin</a>
	<!-- <a rel="me" href="https://twitter.com/cg505_">twitter</a> -->
	<!-- <a rel="me" href="https://keybase.io/cg505">keybase</a> -->
	<!-- <a rel="me" href="https://mastodon.ocf.berkeley.edu/@cg505">fediverse</a> -->
	<!-- <a rel="me" href="https://soundcloud.com/cg505">soundcloud</a> -->
	<!-- <a rel="me" href="https://open.spotify.com/user/cg505">spotify</a> -->
	<!-- <a rel="me" href="https://last.fm/user/cg505">last.fm</a> -->
</p>
