---
---
<!doctype html>

<title>{{ page.title }} | cg505's blog</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/blog.css">
<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="cg_avatar_230.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<div id="main-container">
	<h1>{{ page.title }}</h1>
	{% if page.summary %}
		<h3>{{ page.summary }}</h3>
	{% endif %}
	<p class="post-info">published {{ page.date | date: '%F' }} by <a href="/">christopher cooper</a></p>

	{{ content }}
</div>

<a id="blog-banner" href="/blog">
	<div class="container">
		<h2>cg505's blog</h2>
	</div>
</a>

<div class="container">
	<p class="sm-links">
		<a rel="me" href="/">about me</a>
		<a rel="me" href="/blog">my blog</a>
		<a rel="me" href="https://github.com/cg505">github</a>
		<a rel="me" href="https://linkedin.com/in/cg505">linkedin</a>
		<a rel="me" href="https://soundcloud.com/cg505">soundcloud</a>
		<a rel="me" href="https://open.spotify.com/user/cg505">spotify</a>
		<a rel="me" href="https://last.fm/user/cg505">last.fm</a>
		<a rel="me" href="https://keybase.io/cg505">keybase</a>
	</p>

	<p id="copyright">© Christopher Cooper 2020</p>
</div>
