---
---
<!doctype html>
<html lang="en">
<title>{{ page.title }} | cg505's blog</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/blog.css">
<link rel="shortcut icon" type="image/png" href="/cg_avatar_230.png">
{% feed_meta %}
{% if page.summary %}
	<meta name="description" content="{{ page.summary }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<div id="main-container">
	<h1>{{ page.title }}</h1>
	{% if page.summary %}
		<h3>{{ page.summary }}</h3>
	{% endif %}
	<p class="post-info">published {{ page.date | date: '%F' }} by <a href="/">christopher cooper</a></p>

	{{ content }}
</div>

<a id="blog-banner" href="/blog">
	<div class="container">
		<h2>cg505's blog</h2>
	</div>
</a>

<div class="container">
	{% include sm-links.html %}

	<p id="copyright">© Christopher Cooper {{ page.date | date: '%Y' }}</p>
</div>
</html>
